.container fieldset form {
    background-color: #2E8BC0;
}
.container fieldset form label {
    margin-top: 10px;
    background-color: #2E8BC0;
    display: block;
}
.container fieldset form input {
    display: block;
    width: 50%;
}
.container fieldset form button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}
